In [2]:
import pandas as pd

In [9]:
raw_df=pd.read_csv('mediamix_sales.csv')

## Features
### Demographic Information
- CustomerID: Unique identifier for each customer.
- Age: Age of the customer.
- Gender: Gender of the customer (Male/Female).
- Income: Annual income of the customer in USD.
### Marketing-specific Variables
- tv_sponsorships: 
- tv_cricket: 
- tv_RON: https://www.marketingterms.com/glossary/run-of-network-ron/#:~:text=Run%20of%20Network%20(RON)%20%2D,instead%20of%20an%20individual%20site.)
- radio: 
- NPP: 
- radio: 
- Magazines: Confidential.
- Customer Engagement Variables
- WebsiteVisits: Number of visits to the website.
- PagesPerVisit: Average number of pages visited per session.
- TimeOnSite: Average time spent on the website per visit (in minutes).
- SocialShares: Number of times the marketing content was shared on social media.
- EmailOpens: Number of times marketing emails were opened.
- EmailClicks: Number of times links in marketing emails were clicked.
### Historical Data
- PreviousPurchases: Number of previous purchases made by the customer.
- LoyaltyPoints: Number of loyalty points accumulated by the customer.
### Target Variable
- Conversion: Binary variable indicating whether the customer converted (1) or not (0).

In [10]:
raw_df.head()

,Time,tv_sponsorships,tv_cricket,tv_RON,radio,NPP,Magazines,OOH,Social,Programmatic,Display_Rest,Search,Native,sales
0,1/1/01,119.652,66.729,43.719,37.8,55.36,13.84,35,41.8782,5,33.50256,26.802048,5,22100
1,1/2/01,23.140,12.905,8.455,39.3,36.08,9.02,35,8.0990,5,6.47920,5.183360,6,10400
2,1/3/01,8.944,4.988,3.268,45.9,55.44,13.86,35,3.1304,5,2.50432,2.003456,7,9300
3,1/4/01,78.780,43.935,28.785,41.3,46.80,11.70,35,27.5730,5,22.05840,17.646720,5,18500
4,1/5/01,94.016,52.432,34.352,10.8,46.72,11.68,35,32.9056,5,26.32448,21.059584,7,12900

In [8]:
raw_df.size

160000